p {
  font-weight: 100;
}

.clr-gray {
  color: gray;
}

.main-container-bg {
  background: url("../images/development-bg.png") no-repeat;
  background-size: 700px 200px;
}

@media screen and (max-width: 700px) {
  .main-container-bg {
    background-size: 90vw 200px;
  }
}

.main-container {
  max-width: 800px;
  margin: auto;
  padding: 60px;
  padding-right: 50px;
  opacity: 0;
  -webkit-transition: opacity 3s ease-in-out;
  transition: opacity 3s ease-in-out;
}

.main-container.show {
  opacity: 1;
}

.main-container a {
  color: gray;
}

.main-container .heading h1 {
  font-size: 32px;
  font-weight: 700;
}

.main-container .heading-desc {
  margin: 30px 0 40px;
  font-size: 15px;
  line-height: 1.35;
}

.main-container .request-form .datetime {
  border: 2px solid #ff03ed;
  background-color: black;
  padding: 15px 20px;
  color: #d6d5d5;
  cursor: pointer;
  outline: none;
  margin: 20px 0;
  width: 100%;
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
}

.main-container .request-form .datetime:hover {
  background-color: #ff03ed;
  color: white;
}

.main-container .request-form .datetime:hover::-webkit-input-placeholder {
  color: white;
}

.main-container .request-form .datetime:hover:-ms-input-placeholder {
  color: white;
}

.main-container .request-form .datetime:hover::-ms-input-placeholder {
  color: white;
}

.main-container .request-form .datetime:hover::placeholder {
  color: white;
}

.main-container .request-form .form-desc {
  font-size: 15px;
  line-height: 1.35;
}

.main-container .request-form .copy-text {
  background-color: #808080;
  padding: 15px 5px;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.main-container .request-form .copy-text img {
  margin-left: 10px;
}

.main-container .request-form .copy-text #copied {
  display: none;
}

@media screen and (max-width: 550px) {
  .main-container .request-form .copy-text {
    font-size: 12px;
  }
  .main-container .request-form .copy-text img {
    height: 20px;
    width: 20px;
  }
}

@media screen and (max-width: 550px) and (max-width: 430px) {
  .main-container .request-form .copy-text {
    font-size: 10px;
  }
  .main-container .request-form .copy-text img {
    height: 10px;
    width: 10px;
  }
}

@media screen and (max-width: 550px) and (max-width: 370px) {
  .main-container .request-form .copy-text {
    font-size: 8px;
  }
  .main-container .request-form .copy-text img {
    height: 8px;
    width: 8px;
  }
}

.main-container .request-form .txn-hash-input {
  width: 100%;
  padding: 15px 20px;
  background-color: transparent;
  outline: none;
  border: 2px solid #ff03ed;
  color: #d6d5d5;
  cursor: pointer;
  margin: 20px 0;
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
}

.main-container .request-form .txn-hash-input:hover {
  background-color: #ff03ed;
  color: white;
}

.main-container .request-form .txn-hash-input:hover::-webkit-input-placeholder {
  color: white;
}

.main-container .request-form .txn-hash-input:hover:-ms-input-placeholder {
  color: white;
}

.main-container .request-form .txn-hash-input:hover::-ms-input-placeholder {
  color: white;
}

.main-container .request-form .txn-hash-input:hover::placeholder {
  color: white;
}

.main-container .request-form .confirm-btn {
  width: 100%;
  background-color: #ff03ed;
  color: white;
  outline: none;
  border: none;
  padding: 15px;
  cursor: pointer;
  margin-top: 20px;
}

.main-container .request-form .confirm-btn:disabled {
  background-color: #f2f2f2;
  color: #999999;
  border: 1px solid #dddddd;
  cursor: not-allowed;
}

.main-container .request-form .form-heading {
  font-size: 24px;
  margin: 25px 0;
  font-weight: 200;
}
